@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float-up {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}

@keyframes explosion {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
    background: radial-gradient(
      circle,
      rgba(255, 165, 0, 1) 0%,
      rgba(255, 0, 0, 0) 70%
    );
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
    background: radial-gradient(
      circle,
      rgba(255, 165, 0, 0) 0%,
      rgba(255, 0, 0, 0) 70%
    );
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 0) scale(0.5);
  }
}

@keyframes damage-effect {
  0% {
    filter: none; /* Normal renk */
  }
  50% {
    filter: brightness(0.8) sepia(1) hue-rotate(-50deg) saturate(6); /* Kırmızı hasar efekti */
  }
  100% {
    filter: none; /* Normal hale dön */
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
  pointer-events: none;
}

.explosion-effect {
  position: absolute;
  width: 150px; /* Final boss için daha büyük patlama */
  height: 150px;
  border-radius: 50%;
  animation: explosion 3s ease-out forwards; /* 3 saniye patlama süresi */
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
}

.fade-out {
  animation: fade-out 2s ease-out forwards; /* 2 saniye içinde kaybolur */
  transform-origin: center;
}

.damage-effect {
  animation: damage-effect 0.3s ease-in-out; /* 0.3 saniye hasar efekti */
}